<footer>
    <p>WebGovorilka | © All rights resevred | 2024</p>
</footer>

<style>

    footer p {
        margin-top: 0.7rem;
        font-size: 0.75rem;
        text-align: center;
        font-family: Arial;
    }

</style>