<header>
    <div class="header-container">
        <div class="naming-container">
            <a href="/" title="THE BEST GOVORILKA !!!"><span>Web</span>Govorilka</a>
        </div>
        <div class="greeting-container">
            <p><%=time%>,<i> <%=nick%></i></p>
        </div>
        <div class="details">
                <svg width="40px" height="55px" viewBox="0 0 24 24" fill="none">
                    <path d="M3 6H21" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                    <path d="M3 12H21" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                    <path d="M3 18H21" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                </svg>

            <ul>
                <li>
                    <a href="/more/menu">Menu</a>
                </li>
                <li>
                    <a href="/more/profile">Profile</a>
                </li>
            </ul>

                <div class="dropdown">
                    <div class="dropdown-content">
                        <a href="/more/menu">Friends</a>

                        <a href="/more/profile">Profile</a>
                    </div>
                </div>
        </div>
    </div>
</header>
<style>

    .header-container{
        font-family: "Arial";
    }

    .naming-container{
        font-size: 1.3rem;
        font-family: "Arial";
    }

    .naming-container span{
        font-size: 1.3rem;
        font-style: oblique;
    }

    .naming-container a{
        text-underline: none;
        text-decoration: none;
        color: black;
    }

    .header-container{
        display: flex;
        justify-content: space-around;
        gap: 24rem;
        border-bottom: 1px solid black ;
        align-items: center;
    }

    .greeting-container{
        font-size: 1.4rem;
    }
    .details svg{
        display: none;
    }
    .details:hover{
        cursor: pointer;
    }

    .details ul{
        display: flex;
        list-style-type: none;
        gap: 30px;
    }

    .details ul li{
        font-size: 1.33rem;
    }

    .details ul li a{
        text-decoration: none;
        color: black;
    }

    .details ul li a:hover{
        color: orange;
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        z-index: 1;
        border: 1px solid red;
        padding: 10px;
        left: -20px;
    }



    @media only screen and (max-width: 1190px){
        .header-container{
            gap: 10rem;
        }
    }

    @media only screen and (max-width: 782px){
        .details ul {
            display: none;
        }

        .details svg{
            display: block;
        }

        .header-container{
            gap: 4rem;
        }
    }

</style>

<script>
    const svg = document.querySelector('.details svg');

    const details = document.querySelector(".details");
    const url = new URL(location.href);

    const arr = [el1 = details.children[1].children[1].children[0],
        el2 = details.children[1].children[0].children[0],
        el3 = details.children[2].children[0].children[0],
        el4 = details.children[2].children[0].children[1]
    ];
    for (let el of arr){
        if (el.pathname === url.pathname){
            el.style.color = "red"
        }
    }


    const dropdown = document.querySelector('.dropdown-content');

    let flag = false;
    svg.onclick = function () {
        if (!flag){
            dropdown.style.display = "block";
            flag = true;
        }else{
            dropdown.style.display = "none";
            flag = false;
        }
    }


</script>