<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebGovorilka | Auth page</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <main>
        <video id="prev-video" autoplay muted loop></video>
        <div class="greet-container">
            <h1>Добро пожаловать!</h1>
            <h2>Для продолжения, вам необходимо аутентифицироваться</h2>
        </div>
        <div class="form-container">
            <form>
                <label for="email-form">E-mail</label>
                    <input type="text" id="email-form" required autofocus/>


                <label for="pass-form">Password</label>
                     <input type="password" id="pass-form" required/>


                <input type="submit" id="submit-form" value="Логин">

                <div class="nav-bottom">
                    <a style="color: white" href="/auth?state=register">Регистрация</a>
                    <p style="color: white">Забыли пароль ?</p>
                </div>

            </form>
        </div>
    </main>
    <footer>
        <b>WebGovorilka | © All rights reserved 2024</b>
    </footer>
<script src="../scripts/login.js"></script>
</body>
</html>