.users-container{
    display: flex;
    gap: 10rem;
    justify-content: center;
    margin-top: 7.7%;
}

.user-abonent, .user-me{
    width: 30rem;
    height: 20rem;
    border: 1px solid black;
}

.control-panel{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5% ;
}

.control-panel div {
    border: 1px solid black;
}

.btn{
    border-radius: 5%;
    width: 9.6rem;
    height: 2rem;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.hangup{
    background: orangered;
}