* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-container figure {
    border: 1px solid black;
    width: 13.3rem;
    height: 15rem;
}

.profile-container figure #profile-img {
    width: 100%; /* Ширина изображения будет равна ширине родительского блока */
    height: auto; /* Автоматическое вычисление высоты для сохранения пропорций */
    max-width: 100%; /* Изображение не будет превышать ширину родительского блока */
    max-height: 100%; /* Изображение не будет превышать высоту родительского блока */
    border: 1px solid green;
}

main{
    margin: 6.3% auto;
    max-width: 60%;
    height: 65vh;
}

.main-frame-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39%;
    flex: 1;
}

.bio-container{
    display: flex;
    flex-direction: column;
    gap: 2rem ;
}
#bio{
    width: 60%;
    font-size: 1.2rem;
}

.profile-actions{
    display: flex;
    text-align: center;
    margin-top: 4rem;
    max-width: 100%;
    justify-content: center;
    gap: 8rem;
    flex-wrap: wrap;
}

.profile-actions div{
    padding: 20px;
    max-width: 12rem;
    transition: 0.7s;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.dropdown-list{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    border-top: 1px solid black;
    transition: 0.5s;
    top: 0;
    left: -20px;
    width: 15rem;
    height: auto;
}

.div-popup{
    text-align: center;
    margin: 0 auto;
    width: 70%;
    height: 3.3rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 15%;
    border-radius: 0.2rem;
}
