*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 15%;
    text-align: center;
    font-family: "Bahnschrift";
}

.greet-container{
    color: gainsboro;
    font-size: 1.6rem;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.form-container form{
    border: 1px solid gray;
    border-radius: 2.5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    width: 50%;
    text-align: left;
}

.form-container form input, label{
    margin: 0 auto;
    width: 30%;
}

.form-container form input{
    height: 2rem;
    outline: none;
    font-size: 1.2rem;
    border-radius: 2.5%;
}

.form-container form label{
    color: white;
}

#prev-video{
    width: 99vw;
    height: 125vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
footer{
    text-align: center;
    color: white;
    font-family: "Bahnschrift";
    font-size: 0.8rem;
}

@media only screen and (max-width: 1000px){
    .greet-container{
        font-size: 1rem;
    }

    .form-container form{
        border: 1px solid gray;
        border-radius: 2.5%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.1rem;
        width: 70%;
        text-align: left;
    }

    .form-container form input, label{
        margin: 0 auto;
        width: 50%;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px){
    .greet-container{
        font-size: 0.8rem;
    }

    .form-container form{
        border: 1px solid gray;
        border-radius: 2.5%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1.1rem;
        width: 100%;
        text-align: left;
    }

    .form-container form input, label{
        margin: 0 auto;
        width: 80%;
        font-size: 1rem;
    }
}

@keyframes fading {
    0%{
        opacity: 0;
        color: black;
    }

    100%{
        opacity: 1;
        color: white;
    }
}
