*{
    margin: 0;
    padding: 0;
}

main {
    max-width: 100%;
    display: flex;
}

.chat-list-container{
    flex-grow: 0.15;
    border: 1px solid black;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#btn-show, #btn-hide{
    border: 1px solid black;
    outline: none;
    background: none;
}

.chat-container{
    flex: 1;
    border: 1px solid black;
    height: 90vh;
}